

<h1>Order Summary:</h1>

<p>You ordered @ViewData["NumFlowers"] flowers</p>
<p>The flower type is @ViewData["FlowerType"]</p>
<p>The flowers will be sent to @ViewData["OrderAddress"]</p>

<hr />

<p>The subtotal is @ViewData["SubTotal"]</p>
<p>The tax is @ViewData["Tax"]</p>
<p>The final total is @ViewData["OrderTotal"]</p>